<launch>
	<!-- Loads the URDF model to the param server -->
	<param name="robot_description" textfile="/home/hoe01h/rbdl_test/phantomx_exp2.urdf"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
</launch>
